<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        
        <div class="logo">Better Recipes</div>
        <div class="auth-buttons">
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/register'">Register</button>
        </div>
    </div>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
        {{ msg }}
    </p>
    {% endfor %}
    {% block body %}
    
    
    
    {% endblock %}
    {% block after_body %}{% endblock %}

</body>
</html>