{% extends "base.html" %}

{% block title %}Better Recipes{% endblock %}

{% block head %}
    <!-- <link rel="stylesheet" href="path/to/bootstrap.css"> -->
    <style>
    </style>
{% endblock %}

{% block body %}
<div class="recipe-details">
    <h1>Latest Recipes</h1>

    {% for recipe in last_5_recipes %}
        <div class="recipe-details">
            <div class="card mb-3" style="max-width: 900px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ recipe.picture }}" class="img-fluid rounded-start" alt="{{ recipe.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe.recipe_id) }}">{{ recipe.title }}</a>
                            </h5>
                            <p class="card-text">{{ recipe.description }}</p>
                            <p class="card-text"><small class="text-muted">Cooking Time: {{ recipe.cooking_time }} mins</small></p>
                            <p class="card-text"><small class="text-muted">Category: {{ recipe.category }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}