{% extends "base.html" %}

{% block title %}Better Recipes{% endblock %}

{% block head %}{% endblock %}        

{% block body%}
<h1>Welcome</h1>

<h2>Recent Recipes</h2>
<ul>
    {% for recipe in last_5_recipes %}
        <li>
            <strong>{{ recipe.title }}</strong><br>
            Category: {{ recipe.category }}<br>
            Description: {{ recipe.description }}<br>
            Ingredients: {{ recipe.ingredients }}<br>
            Instructions: {{ recipe.instructions }}<br>
            Cooking Time: {{ recipe.cooking_time }}<br>
            Created By: {{ user_usernames[i] }}<br>

        </li>
    {% endfor %}       
</ul>

<!-- <div>
    <h2>Create Account</h2>
    <form action="/users" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        username <input type="text" name="username">
    </p>
    <p>
        password <input type="password" name="password">
    </p>
    <p>
        <button type="submit">Create User</button>
    </p>
    </form>
    
    <h2>Login</h2>
    <form action="/login" method="POST">
    <p>
        Email/Username <input type="text" name="email_or_username">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        <button type="submit">Login</button>
    </p>



    </form>

</div> -->
{% endblock %}