{% extends "base.html" %}
{% block title %}Better Recipes{% endblock %}

{% block head %}{% endblock %}        

{% block body%}
<h1>Welcome</h1>

<div>
    <h2>Create Account</h2>
    <form action="/users" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        username <input type="text" name="username">
    </p>
    <p>
        password <input type="password" name="password">
    </p>
    <p>
        <button type="submit">Create User</button>
    </p>
    </form>
</div>
{% endblock %}