{% extends 'base.html' %}

{% block title %}Update Recipe{% endblock %}

{% block body %}
<h1>Edit Recipe</h1>

<div class="custom-form">
    <form class="row g-3" action="/update_recipe/{{ recipe.recipe_id }}" method="POST">
        <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ recipe.title }}">
        </div>

        <div class="col-md-6">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
            </select>
        </div>

        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{ recipe.description }}">
        </div>

        <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients</label>
            <input type="text" class="form-control" id="ingredients" name="ingredients" value="{{ recipe.ingredients }}">
        </div>

        <div class="col-12">
            <label for="instructions" class="form-label">Instructions</label>
            <input type="text" class="form-control" id="instructions" name="instructions" value="{{ recipe.instructions }}">
        </div>

        <div class="col-md-6">
            <label for="cooking_time" class="form-label">Cooking Time (in minutes)</label>
            <input type="number" class="form-control" id="cooking_time" name="cooking_time" value="{{ recipe.cooking_time }}">
        </div>

        <div class="col-12">
            <label for="picture" class="form-label">Picture URL</label>
            <input type="text" class="form-control" id="picture" name="picture" value="{{ recipe.picture }}">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update Recipe</button>
        </div>
    </form>
</div>
{% endblock %}
